/***************************************

        layout

****************************************/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
body{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 15px;
    background: #c5e8ea;
    width: 100%;
    height: 100%;
}

header{
    margin: 10px auto;
    padding-top: 10px;
    width: 100%;
    height: 100px;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;

}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: blakc;
    text-decoration: none;
}


header img{
    width: 40px;
    height: 40px;
}

header button{
    width: 100px;
    height: 40px;
    border: none;
    font-size: 15px;
}
header #myBtn{
    margin-left: 70%;
    background-color: #d9edf7;
}

nav{
    width: 100%;
    height: 50px;
    text-align: center;
    display: inline-block;
    margin: 10px auto;
}

nav div{
    background-color: black;
    color: white;
    border: 2px #c5e8ea solid;
    height: 50px;
    padding-top: 13px;
}

article{
    padding: 20px;
    width: 100%;
    height: 100%;
}

footer{
    width: 100%;
    height: 50px;
    padding-top: 10px;
    color: black;
    display: block;
    text-align: center;
    border: 2px black solid;
    border-left: none;
    border-right: none;
    font-size: 12px;
    background-color: #FFDCDC;
    z-index: 1;
    position: fixed;
    bottom: 0;
    left:0;
}
footer span {
    margin: auto 10px;
}


/***************************************

    modal

****************************************/
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal .modal-content {	
    background-color: white;
    margin: 5% auto;
    padding: 10px;
    border: 1px solid #888;
    width: 50%;
}
/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/***********************************************

    LoginPage Modal
    
************************************************/
.loginModal{
	width: 100%;
	height: 100%;
}
.loginModal ul{
	list-style: none;
	text-align: center;
	margin: 0;
	padding: 0;
}
.loginModal ul li i{
	font-size: 7rem;
	margin: 20px auto 20px auto;
}
.loginModal ul li .title{
	font-size: 3rem;
	margin: 0 auto 30px auto;
}
.loginModal ul li input{
	margin: 10px auto;
}
.loginModal ul li button{
	margin: 25px auto 0 auto;
	width: 	20%;
	font-size: 1.7rem;
	text-align: center;
}

/***********************************************

    LoginPage
    
************************************************/
.loginFormPage{
	margin: 15% auto; 
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #c5e8ea;
}
.loginFormPage form{
	width: 60%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 2px solid black;
	padding:0;
	margin:0;
	background-color: #ffffff;
}

.loginFormPage form label{
	font-size: 2.5rem;
	font-weight: bold;
	text-align: center;
	width: 100%;
	display: block;
	margin: 30px auto;
}
.loginFormPage .input .input-line{
	width: 100%;
}
.loginFormPage form span{
	width:100%;
}
.loginFormPage form input{
	width: 100%;
}

.loginFormPage form .btn-line{
	width: 70%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 30px auto;
}

.loginFormPage form .btn-line button{
	width: 25%;
	margin: 0px 10px 0px 10px;
}

/***********************************************

    Category_insert Modal
    
************************************************/
.category-insert{
	width: 100%;
	height: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 10px;
	margin: 0;
}
.category-insert ul{
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	
}
.category-insert ul li{
	margin: 10px;
}
.category-insert ul li i{
	font-size: 4rem;
	margin: 0 auto 10px auto;
}
.category-insert ul li .title{
	font-size: 3rem;
	margin: 0 auto 20px auto;
}
.category-insert ul li img{
	width: 200px;
	height: 200px;
}
.category-insert ul li button{
	margin: 15px auto 0 auto;
	width: 	30%;
	font-size: 1.7rem;
	text-align: center;
} 


/***********************************************

    MissionInfoPage
    
************************************************/
.mission-info{
    width: 100%;
    height: 100%;
}
.mission-info form{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
}

/***************************************

    mission_insert Modal

****************************************/
.mission-insert{
	width: 100%;
	height: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 10px;
	margin: 0;
}
.mission-insert ul{
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
.mission-insert ul li{
	margin: 10px;
}
.mission-insert ul li i{
	font-size: 4rem;
	margin: 0 auto 10px auto;
}
.mission-insert ul li .title{
	font-size: 3rem;
	margin: 0 auto 30px auto;
}
.mission-insert .category-line{
	display: flex;
	justify-content: center;
}
.mission-insert .category-line select{
	width: 35%;
	margin: auto 10px;
}
.mission-insert .left-align{
	text-align: left;
	padding-left: 10px;
}
.mission-insert label{
	width:20%;
}
.mission-insert ul li select{
	width: 50%;
	display: inline;
	margin-left: 10px;	
}
.mission-insert ul li input{
	width: 50%;
	display: inline;
	margin-left: 10px;
}

.mission-insert ul li button{
	margin: 25px auto 0 auto;
	width: 	30%;
	font-size: 1.7rem;
	text-align: center;
} 

/***************************************

    manamge_mission

****************************************/


.mission-search{
    width: 100%;
    display: inline-block;
}

.mission-table table{
    text-align: center;
    width: 100%;
    height: 700px;
}

.mission-table tbody button{
    border:none;
    padding: 5px 10px;
    font-size: 13px;
}


/***************************************

    manamge_content_info

****************************************/
.content-infodiv{
	display:flex;
	flex-wrap:wrap;
	width:100%;
	height:100%;
	margin:0 auto;
	background: #ddd;
	justify-content: center;
	
}
.white-box{
    background-color: #c5e8ea;
    padding: 46px 33px 43px 305px;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.content-part{
    width: 100%;
    height: 100%;
    padding: 0px;
    font-size: 20px;
    float: left;
    background-color: #888888;
}
.content-part .content-title{
    margin: 10px 0 10px 30px;
}
.content-part .content-title i{
    font-size: 10px;

}
.content-part .content-title span{
    margin-left: 10px;
    font-weight: bold;
    display: inline-block;
}

.content-part .img-circle{
    width: 40px;
    height: 40px;

}
.content-part .content-profile{
    background-color: yellow;
    border-radius: 20px;
    border: 1px black solid;
    width: 200px;
    margin: 20px;
}

.content-part .content-box{
    text-align: center;
}
.content-part .content-box div{
    margin: 10px auto;
}
.content-part .content-box .content-image{
    width: 300px;
    height: 300px;
}

.reply-part{
    width: 60%;
    height: 98.6%;
    margin: 0;
    padding: 10px;
    background-color: white;
    float: right;
    font-size: 20px;
}

.reply-part .like-box{
    font-weight: bold;
}
.reply-part .reply-box{
    padding: 20px;
}

.reply-part .reply-box .user-profile{
    background-color: yellow;
    border-radius: 20px;
    border: 1px black solid;
    width: 200px;
    padding-left: 30px;
}
.reply-part .reply-box .content-reply{
    border-left: 1px black solid;
    margin-left: 20px;
    padding-left: 10px;
}

.reply-box i{
    color: #999999;
}
.reply-part .reply-level2 .user-profile{
    margin-left: 20px;
}
.reply-part .reply-level2 .content-reply{
    margin-left: 40px;
}

.reply-insert{
    width: 500px;
    position: absolute;
    bottom: -147px;
    background-color: white;
}

.reply-insert label{
    padding-left: 10px;
    width: 80%;
}

.reply-insert input{
    width: 100%;
}

.reply-insert button{
    width: 50px;
}

/***************************************

    message_form

****************************************/
.message-form{
	width: 100%;
	height: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 10px;
	margin: 0;
}
.message-form table{
	width: 100%;
}

/***************************************

    message_sendForm

****************************************/
.message_sendPage{
	display: flex;
	flex-wrap: wrap;
	/* justify-content: center; */
	width: 77%;
}

.message_sendPage .search_user{
	width: 100%;
	height: 100%;
	margin-right: 5%;
	border: 1px solid #888;
	border-radius: 4px;
}
.message_sendPage .search_user form{
	margin: 0;
	padding: 0;
}
.message_sendPage .search_user form table{
	text-align: center;
	width: 100%;
	height: 100%;
}
.message_sendPage .message_table{
	width: 100%;
}
.message_sendPage .message_table ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.message_sendPage .message_table ul input{
	margin: 10px auto 5% auto;
}
.message_sendPage .message_table ul li textarea {
	width: 100%;
	height: 100%;
	margin: 10px auto 0 auto;
}
.messageForm{
	width:100%;
}
.leftformblah{
	width:25%;
	height: 100%;
}
.blahblah{
	width:75%;
}
.hahahaho{
	justify-content: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}